<div class="app-header">
    <mat-toolbar color="secondary">
        <button (click)="onToggleSidebar()" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
            <mat-icon>menu</mat-icon>
          </button>
        <div class="app-header--brand">
            <img src="../../../assets/img/logo.png" width="100" alt="">
        </div>
    </mat-toolbar>
    <div class="loading-bar" *ngIf="isLoading">
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
      </div>
</div>
