<div class="app-header">
  <mat-toolbar color="secondary">
    <button (click)="onToggleSidebar()" mat-icon-button class="example-icon"
      aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <div class="app-header--logout">
      <button mat-icon-button [matMenuTriggerFor]="account">
        <mat-icon>account_circle</mat-icon>
        <mat-menu #account="matMenu">
          <button mat-menu-item (click)="logout()">
            <mat-icon>logout</mat-icon>
            <span>Logout</span>
          </button>
        </mat-menu>
      </button>
    </div>
  </mat-toolbar>
  <div class="loading-bar" *ngIf="isLoading">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </div>
</div>