<!-- Shimmer loading -->
<div class="shimmer-area update-user" *ngIf="isLoading">
    <img src="../../../../assets/shimmers/userUpdate.svg" alt="">
</div>
<section class="form-panel" *ngIf="!isLoading">
    <div class="form-panel--header">
        <mat-icon>mode_edit</mat-icon>
        <h3>User Update</h3>
    </div>
    <div class="form-panel-content">
        <div class="form-panel-content--profile-pictuer">
            <img [src]="userData.avatar" [title]="userData.first_name + '\'s Profile Picture'">
        </div>
        <form autocomplete="off" class="w-100 count-forms" [formGroup]="editUserForm" (ngSubmit)="updateUser()">
            <section class="form-section">
                <mat-form-field color="basic" class="w-100">
                    <mat-label>Name</mat-label>
                    <input formControlName="name" type="text" [(ngModel)]="userData.first_name" name="name" matInput>
                    <mat-error *ngIf="f.name.value == '' && f.name.touched">
                        Name is required
                    </mat-error>
                </mat-form-field>
            </section>
            <section class="form-section">
                <mat-form-field color="basic" class="w-100">
                    <mat-label>Job</mat-label>
                    <input formControlName="job" type="text" [(ngModel)]="job" name="job" matInput>
                    <mat-error *ngIf="f.job.value == '' && f.job.touched">
                        Job is required
                    </mat-error>
                </mat-form-field>
            </section>
            <div class="form-panel--footer">
                <button mat-raised-button type="submit" class="success" [disabled]="!editUserForm.valid"
                    type="submit">Update</button>
                <button mat-raised-button class="warn" [routerLink]="['/users']">Cancel</button>
            </div>
        </form>
    </div>
</section>