<div class="app-home">
    <h1>Front-End Assessment</h1>
    <img src="../../../assets/img/logo.png" alt="">
    <div class="app-home--cotent">
        <h2>Onwards & Upwards</h2>
        <h3>Capiter is a B2B marketplace that brings together micro, small, and medium enterprises (SME) businesses with a
            single platform that allows retailers to order a wide range of inventory, obtain delivery, and access an
            embedded BNPL solution all from a single platform.</h3>
        <h3>Using cutting-edge technology and machine learning, the Capiter solution also helps brands and manufacturers to
            gain critical insights into the markets they serve, enabling them to access real data to refine their
            distribution strategies and increase efficiencies.
            Currently, it is serving over 50,000 merchants and + 1k sellers with a team of close to 1500+ people.</h3>
    </div>
</div>