/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  .shimmer-area{
    &.update-user{
      & img{
        width: 58%;
        display: block;
      }
    }
    &.user-profile{
      & img{
        width: 34%;
        display: block;
      }
    }
  }
  .table-avatar-circle{
    border: 0.4rem solid #fff;
    box-shadow: 0.1rem 0.1rem 0.5rem #ddd;
    border-radius: 50%;
    width: 6rem;
  }
}

//Custom
.d-none {
  display: none;
}
//colors
.primary {
  background-color: #0075bec9;
  color: #fff;
  & .mat-button-wrapper{
    color:#fff
  }
}
.warn {
  background-color: #b60000b3;
  color: #fff;
  & .mat-button-wrapper{
    color:#fff
  }
}
.success {
  background-color: #026d48bf;
  color: #fff;
  & .mat-button-wrapper{
    color:#fff
  }
}
.form-section{
  mat-form-field{
    width: 100%;
  }
}
// Loadig bar
.loading-bar{
  position: absolute;
  width: 100%;
}

//Custom App Panels
.app-panel {
  &--header {
    display: flex;
    margin-bottom: 2rem;
    & h3 {
      margin-left: 1rem;
      margin-bottom: 0;
      color:#666666;
    }
    & mat-icon {
      font-size: 1.8rem;
      color: #666666;
    }
  }
  &--bar{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 2rem;
    & button {
      border-radius: 0;
    }
  }
  &--content {
    & table {
      width: 100%;
    }
  }
  &--user-content{
    display: flex;
    & img {
      width: 8rem;
      border: 0.4rem solid #fff;
      box-shadow: 0.1rem 0.5rem 0.6rem #aaaaaa91;
    }
    &-userInfo{
      padding: 1rem;
      &-row{
        display: flex;
        align-items: center;
        margin-bottom: .5rem;
        margin-left:1rem
      }
    }
  }

  //Mat Table Custom
  .mat-table {
    box-shadow: 1px 1px 10px #ececec;
  }
  td.mat-cell:first-of-type {
    padding: 1.4rem;
  }

  //Custom Icons styles
  .delete-icon {
    & mat-icon {
      color: #b60000b3;
    }
  }
  .profile-icon {
    & mat-icon {
      color: #0075bec9;
    }
  }
  .edit-icon {
    & mat-icon {
      color: #026d48bf;
    }
  }
}
.mat-error {
  font-weight: bold;
  font-size: 0.7rem;
}

//Form Panel
.form-panel {
  &--header {
    direction: ltr;
    text-align: left;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 2rem;
    & h3{
      margin-bottom: 0;
      margin-left: .7rem;
      color:#666666;
    }
     & mat-icon{
      color: #666666;
     }
  }
  &-content {
    padding: 1rem;
    &--profile-pictuer {
      margin-bottom: 2rem;
      & img {
        width: 8rem;
        border: 0.4rem solid #fff;
        box-shadow: 0.1rem 0.5rem 0.6rem #aaaaaa91;
      }
    }
    &-msg {
      direction: ltr;
    }

    & form {
      min-width: 100%;
      .mat-form-field {
        min-width: 100%;
        margin-bottom: 1rem;
      }
    }
    @media (min-width: 768px) {
      display: flex;
      &--profile-pictuer {
        margin-right: 2rem;
        & img {
          width: 10rem;
        }
      }
      & form {
        min-width: 25rem;
        .mat-form-field {
          min-width: 100%;
          margin-bottom: 1rem;
        }
      }
    }
  }
  &--footer {
    direction: rtl;
    display: flex;
    justify-content: flex-start;
    & button {
      min-width: 80px;
      border-radius: 0;
      margin-right: 1rem;
      margin-top: 1rem;
    }
  }
}
//App Dialog
.app-dialog{
  &--header{
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    & mat-icon{
      color: #666666;
    }
    & h3{
      margin-bottom:0;
      margin-left:.5rem;
      color:#666666;
    }
  }
  &-content{
    & mat-form-field{
      margin-bottom:1rem
    }
    &--footer{
      margin-top: 1rem;
      display: flex;
      justify-content: flex-end;
      & button, a{
        border-radius: 0;
        &:first-of-type{
          margin-right: .5rem
        }
      }
    }
  }
}

//Responsive
.app-dialog-size{
  width: 40%;
  @media(max-width:991px){
    width:60%
  }
  @media(max-width: 767px){
    width: 90%;
  }
}
